* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  h1{
    margin-left: 20px;
  }
  
  .colors{
    margin: 20px;
    border: 1px solid black;
    padding: 80px;
    max-height: 280px;
  }
  
  .firstheading{
    position:relative;
    top: -70px;
    left: -70px;
  }
  
  
  .firstcolor{
    padding: 25px;
    background-color: #2AAD93;
    position: relative;
    top: -50px;
    left: -70px;
    max-width: 400px;
  }
  
  .firstcolor p{
    font-family: Raleway sans-serif;
    font-size: 15px;
    color: white;
    text-align: center; 
  }
  
  .secondcolor{
    padding: 25px;
    background-color: #9691FA;
    position: relative;
    top: -135px;
    left: 380px;
    max-width: 400px;
  }
  
  .secondcolor p{
    font-family: Raleway sans-serif;
    font-size: 15px;
    color: white;
    text-align: center;
  }
  
  .thirdcolor {
    position: relative;
    left: 830px;
    top: -220px;
    background-color: #FAC57D;
    padding: 25px;
    max-width: 400px;
  }
  
  .thirdcolor p{
    font-size: 15px;
    color: white;
    text-align: center;
  }
  
  .fourthcolor {
    background-color: #BC8CFA;
    position: relative;
    top: -200px;
    left: -70px;
    max-width: 400px;
    padding: 25px;
  }
  
  .fourthcolor p{
    color: white;
    font-size: 15px;
    font-family: Raleway sans-serif;
    text-align: center;
  }
  
  .colorSelect {
    position: relative;
    left: -2px;
  }

  .fonts{
      margin: 20px;
      border: 1px solid black;
      padding: 80px;
      max-height: 320px;
  }

  .secondheading{
        position: relative;
        top: -70px;
        left: -72px;
  }

  .font_display{
        position: relative;
        top: -40px;
        left: -70px;
        text-decoration: underline;
        font-family: sans-serif;
  }

  .regular{
         position: relative;
         left: -70px;
         top: -20px;
         font-family: sans-serif;
         font-size: 15px;
  }

  .bold{
    position: relative;
    left: -70px;
    top: -10px;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bold;
}

.italics{
    position: relative;
    left: -70px;
    font-family: sans-serif;
    font-size: 15px;
    font-style: italic;
}

.font_display1{
    position: relative;
    top: 20px;
    left: -70px;
    text-decoration: underline;
    font-family:"Times New Roman";
}

.regular1{
    position: relative;
    top: 40px;
    left: -70px;
    font-family:"Times New Roman";
}

.bold1{
    position: relative;
    top: 50px;
    left: -70px;
    font-family: "Times New Roman";
    font-weight: bold;
}

.italics1{
    position: relative;
    top: 60px;
    left: -70px;
    font-style: italic;
}

.font_display2{
    position: relative;
    left: 450px;
    top: -180px;
    text-decoration: underline;
    font-family: "Trebuchet MS";
}

.regular2{
    position: relative;
    left: 450px;
    top: -165px;
    font-family: "Trebuchet MS";
    font-size: 15px;   
}

.bold2{
    position: relative;
    left: 450px;
    top: -155px;
    font-family: "Trebuchet MS";
    font-weight: bold;
    font-size: 15px;
}

.italics2{
    position: relative;
    left: 450px;
    top: -145;
    font-family: "Trebuchet MS";
    font-style:italic;
    font-size: 15px;
}

.title{
    position: relative;
    top: -50px;
    left: -70px;
}

.main li{
    position: relative;
    top: -30px;
    left: -50px;
}

.sub{
    position: relative;
    left: -70px;
}

.submain li{
    position: relative;
    top: 20px;
    left: -50px;
}

.para_head{
    position: relative;
    left: 440px;
    top: -200px;
}

.paramain{
    position: relative;
    left: 450px;
    top: -180px;
}